{% extends 'layout.html' %}
{% block content %}

<div class='content'>
  <h2>使い方</h2>
    <ul>
      <li>都市(City1)を選んでください。</li>
      <li>都市(City2)を選んでください（空白でも可）。</li>
      <li>グラフタイプは雨温図かハイサーグラフが選択できます。表示するデータは平均気温か最高・最低気温が選択できます。</li>
      <li>気候の類似度に対する気温：降水量の影響をスライダーで変えられます。デフォルトは70%です。</li>
      <li>Submitボタンを押してください。</li>
      <ul>
        <li>City1, City2の雨温図もしくはハイサーグラフが表示されます。</li>
        <li>City1に気候が似ている都市を地域ごとに上位5都市まで表示します。数字は気候の類似度です。</li>
      </ul>
    <li>都市・グラフタイプなどを変更したら再度Submitボタンを押してください。</li>
    </ul>
  <h2>データの説明</h2>
    <ul>
      <li>日本の気温・降水量のデータは
        <a href='https://weather.time-j.net'>https://weather.time-j.net</a>
        から取得しています。</li>
      <li>日本以外の気温・降水量のデータは
        <a href='https://www.weatherbase.com'>https://www.weatherbase.com</a>
        から取得しています。</li>
      <li>気候の類似度は２都市の気温・降水量の差から計算しています。</li>
      <li>気候の類似度は0に近いほど気候が似ています。類似度の最小値は0、最大値は約28です。</li>
      <li>地域のAllはCity1が含まれる地域を除く全ての地域になります。
        例えば東京をCity1に選ぶと日本国内の都市は除外されます。</li>
      <li>日本はアジアには入れず、別地域にしました。</li>
      <li>日本: 61都市、北アメリカ: 100都市, 南アメリカ: 16都市、ヨーロッパ: 81都市、
        アフリカ: 54都市、アジア: 68都市、オセアニア: 20都市の合計400都市のデータを使っています。</li>
    </ul>
  <h2>気候の類似度の計算</h2>
    <ul>
      <li>２都市の各月の気温・降水量の差の二乗の総和として計算しています。</li>
      <ul>
        <li>ほとんどの都市で各月の平均気温・最高気温・最低気温・降水量のデータを使っています。</li>
        <li>City1で各月の最高気温・最低気温もしくは降水量が欠落している場合は、欠落データは除いて計算しています。</li>
        <li>比較対象の都市が当該データがない場合は比較リストに入りません。</li>
        <li>類似度に対する気温：降水量の影響は70:30がデフォルトですが、変更可能です。
          スライダーを右に動かすと気温の影響が強くなります。</li>
      </ul>
      <li>真夏と真冬の月は他の月に比べ1.5~3.0倍で加重しています。</li>
      <li>南半球のデータは6月分データをシフトして夏・冬を合わせています</li>
      <li>計算方法は独自のもので、文献によるものではありません。</li>
    </ul>
</div>

{% endblock content %}]
